<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
{% load my_tags %}
{% logged_in_user user%}
{#{% include 'appraisal/logout_button_html.html' %}#}
{% if employee %}
<h1>{{ employee.name }} </h1>
<ul>
    <li> is_active: {{ employee.is_active }} </li>
    <li>joined_date: {{ employee.joined_date }}</li>
    {% if employee.reporting_to %}
    <li>reporting to:<b> <a href="{% url 'appraisal:detail' employee.reporting_to_id %}">
        {{ employee.reporting_to }}

        </a>
        </b>
    </li>
        {% endif %}
    <li>Position: <b>{{ employee.get_type_display }}</b></li>
</ul>
<h2>
    Reportees
</h2>
    {% if employee.all_reportee %}
        {% for reporting_employee in employee.all_reportee %}
            <li>
               <a href="{% url 'appraisal:detail' reporting_employee.id %}">
                   {{ reporting_employee.name }}
               </a>
            </li>
        {% endfor %}
        {% else %}
        <b>No Staff found </b>
    {% endif %}

{% else %}
<h2>No User Found</h2>
{% endif %}
    <h3>Appraisals</h3>
    {% for appraisal in employee.receiver.all%}
        <p><b>Comment: </b>{{ appraisal.comment|linebreaks }}</p>
        <p><b>Year Given: </b>{{ appraisal.year }}</p>
        <p><b>Score: </b>{{ appraisal.score }}</p>
        <p><b>Giver: </b><a href="{% url 'appraisal:detail' appraisal.from_employee.id %}">
            {{ appraisal.from_employee.name}}
        </a>
        </p>

        <p>Competency: {{ appraisal.competencies_set.all.0.name }}
            Score: {{ appraisal.competencies_set.all.0.score }}
        </p>


    {% endfor %}
</body>
</html>