<!DOCTYPE html>

{% load static %}


<link rel="stylesheet" type="text/css" href="{% static 'appraisal/style.css' %}" />

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employees</title>
</head>
<body>
{% load my_tags %}
{% logged_in_user user%}
{% include "appraisal/logout_button_html.html" %}
<h1> Employees List </h1>
{% if employee_list %}
 <table>
  <tr>
      <th>Name</th>
      <th>Role</th>
      <th>reporting to</th>
      <th>Date of joining </th>
      <th>staff</th>
  </tr>
    {% for employee in employee_list %}

          <tr>

          <td><a href="{% url 'appraisal:detail' employee.id %}">{{ employee.name }} </a></td>
          <td>{{ employee.get_type_display }}</td>
          <td>{{ employee.reporting_to.name }}</td>
          <td>{{ employee.joined_date }}</td>
          <td>{{ employee.employee_set.count }}</td>

          </tr>

     {% endfor %}
</table>

{% else %}
    <p>No Employees Added.</p>
{% endif %}

</body>
</html>