<!DOCTYPE html>
<html lang="en">
<body>
<div class="container">
  <div class="page-header">
    <div><b><a href="{% url 'appraisal:detail' user.employee.id %}">{{ user.employee.name|capfirst }} </a></b>
        <b> ({{ user.employee.get_type_display }})</b>

    <a href="{% url 'appraisal:logout' %}" class="btn btn-info pull-right" role="button">logout</a>
        {% if notifications %}
            {% for notification in notifications %}
                <div>User: {{ notification.employee.name }} has completed feedback</div>
            {% endfor %}
        {% endif %}
    </div>


  </div>
</div>
</body>
</html>
